<!DOCTYPE html>
{% extends 'testApp/base.html' %}
    {% block body_block %}
        <h1>Welcome to Durga Exam</h1>
        <h2>Rules for exams</h2>
        <ul>
            <li>Rule-1 : You Should Write only one exam per day</li>
            <li>Rule-1 : You Should Write only one exam per day</li>
            <li>Rule-1 : You Should Write only one exam per day</li>
            <li>Rule-1 : You Should Write only one exam per day</li>
            <li>Rule-1 : You Should Write only one exam per day</li>
        </ul>

    {% endblock %}